.banner {
  background-position: center;
  background-size: cover;
  padding: 150px 0;
  position: relative;
}

.banner h1 {
  color: white;
  font-size: 32px;
  font-weight: bold;
  margin: 0;
  text-shadow: 1px 1px 3px rgba(0,0,0,0.2);
  text-align: center;
}
