.card-category {
  background-position: center;
  background-size: cover;
  border-radius: 5px;
  overflow: hidden;
}
.card-category a {
  align-items: center;
  background-color: rgba(0,0,0,0.3);
  color: #fff;
  display: flex;
  font-size: 1.75em;
  font-weight: bold;
  height: 180px;
  justify-content: center;
  padding: 20px;
  text-align: center;
  text-decoration: none;
  transition: all 0.5s ease;
  width: 100%;
}
.card-category a:hover {
  background-color: rgba(0,0,0,0.5);
}
